.mb1 {
    margin-bottom: 1rem;
  }
.mt1{
    margin-top: 1rem;
}
h2{
    margin: 0;
    color: $warning-color;
}
h1{
    margin: 0;
    color: $warning-color;
}

.greedy-nav button {
    background-color: $secondary-color !important;
}

.greedy-nav {
    .hidden-links {
        .masthead__menu-item {
            border-bottom-color: $warning-color;
            a {
                color: $secondary-color;
                font-weight: bold;
            }
        }
    }
}